extends layout

block content
  #phrase-container
      //- p hello
      //- p hello
      //- p hello
      //- p hello
  .container 
    #svg-container 
      svg#svg 
    
    #input-container 
      input(type="text", placeholder="what's your word")#word-input
      select#platform-select(name="platform")
        option(value="padma") Padma 
        option(value="rekhta") Rekhta  
      button#word-button 👇 
