extends layout

block content
    .container 
        #svg-container 
            svg#svg 
        
        #input-container 
            input(type="text", placeholder="what's your word")#word-input
